.navbar {
  background: #9e0039;
  border-radius: 0px;
  border-color: #9e0039;
  color: white;
  margin: 0;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #9d9d9d;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-brand:hover {
  color: #9d9d9d;
}

.navbar-brand {
  font-size: 28px;
}

.nav {
  font-size: 18px;
}